---
import Layout from '../layouts/Layout.astro';

const link = 'https://drive.google.com/file/d/1psfBYlclFpMMTXxVlVJN6TBFh6vKAKU7/view?usp=drive_link'
---

<Layout title="Welcome to Astro." description='Regalos para graduacion' image='/portada.jpeg' empresa='Scrapnow Memory' >
	<div class="container m-auto">
		<img src="/logo_scrapnowMemory.svg" alt="">
		<h1>Gibox Graduación</h1>
		<p>Celebra los logros de esa persona especial</p>
		<a class="p-6 border-2 flex rounded-full" href={link}>
			<img src="/bachelor-icon.svg" alt="bachelor cap">
			<span>Ver Catalogo</span>
		</a>
	</div>
</Layout>
